.hero {
  text-align: center;
  padding: 4rem 2rem;
  background-image: url('../img/heroe.jpg'); 
  background-size: cover;
  background-position: center;
  color: $bg;
  position: relative;        
  min-height: 500px;
  display: flex;
  flex-direction: column;    
  justify-content: center;   
  align-items: center;       

  &::before {              
    content: "";               
    position: absolute;        
    top: 0; left: 0;           
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 0;                
  }

  h2, p {
    position: relative;
    z-index: 1;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
}

.dark {
  background-color: $dark;
  color: $bg;
  text-align: justify;
  margin: 0 4rem;
}

.event-list {
  list-style: none;
  margin-top: 1rem;

  li {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
  }
}
