@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
.hero {
  text-align: center;
  padding: 4rem 2rem;
  background-image: url("../img/heroe.jpg");
  background-size: cover;
  background-position: center;
  color: #fff5f0;
  position: relative;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
}
.hero h2, .hero p {
  position: relative;
  z-index: 1;
}
.hero h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.dark {
  background-color: #3b2f2f;
  color: #fff5f0;
  text-align: justify;
  margin: 0 4rem;
}

.event-list {
  list-style: none;
  margin-top: 1rem;
}
.event-list li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.artist-header {
  text-align: center;
  padding: 4rem 1rem;
}
.artist-header h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #2e2e2e;
}
.artist-header .artist-buscar {
  margin-top: 1.5rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ce8163;
  border-radius: 8px;
}

.join-us {
  background-color: #fcefdc;
  padding: 3rem 1rem;
  text-align: center;
}
.join-us h3 {
  font-size: 1.8rem;
  color: #2e2e2e;
}

footer.footer {
  background: #111;
  color: #aaa;
  text-align: center;
  padding: 2rem 1rem;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem 0;
}
.redes img {
  width: auto;
  height: 40px;
}

.header {
  height: 80px;
  background-color: #3b2f2f;
}
.header .navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
}
.header .menu_hamburguesa {
  display: none;
}
.header .menu_hamburguesa:checked + .ul_links {
  height: calc(100vh - 80px);
}
.header .logo {
  color: #fff5f0;
}
.header .list_icon {
  color: #fff5f0;
  cursor: pointer;
}
.header .ul_links {
  width: 100%;
  background-color: #3b2f2f;
  position: absolute;
  top: 80px;
  left: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transition: all 0.3s;
  z-index: 100;
}
.header .ul_links .link {
  font-size: 3em;
  color: #fff5f0;
  font-weight: bold;
  text-decoration: none;
}
@media (min-width: 768px) {
  .header .label_hamburguesa {
    display: none;
  }
  .header .ul_links {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    text-decoration: none;
  }
  .header .ul_links .link {
    font-size: 1.2rem;
    transition: all 0.3s;
    padding: 0.2rem 0.7rem;
  }
  .header .ul_links .link:hover {
    color: #97604a;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #2e2e2e;
  line-height: 1.6;
  background-color: #fff5f0;
  text-decoration: none;
}

.btn-1 {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 5px;
  z-index: 1;
  background: #ce8163;
  color: #fff5f0;
}
.btn-1:hover {
  background-color: #97604a;
  color: #fff5f0;
}
.btn-1:hover {
  animation: pulse 1.5s infinite ease-in-out;
}

.btn-2 {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 5px;
  z-index: 1;
  background: #3b2f2f;
  color: #fff5f0;
}
.btn-2:hover {
  background-color: #1d1717;
  color: #fff5f0;
}
.btn-2:hover {
  animation: pulse 1.5s infinite ease-in-out;
}

.section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 2rem;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card h3 {
  margin: 1rem;
}
.card p {
  margin: 0.8rem;
  font-size: 0.9rem;
}
.card a {
  margin: 0.8rem;
}

/*# sourceMappingURL=styles.css.map */
